{
    "env": {
        "node": true,
        "commonjs": true
    },
    "globals": {
        "window": true,
        "document": true,
        "Promise": true
    },
    "parser": "babel-eslint",
    "extends": "eslint:recommended",
    "rules": {
        "indent": "off",
        "no-unused-vars": "off",
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "double"
        ],
        "semi": [
            "error",
            "always"
        ],
        "comma-dangle": "off",
        "no-cond-assign": [
            "error",
            "always"
        ],
        "no-console": "off"
    }
}